absl-py == 2.0.0
numpy == 1.21.6
matplotlib == 3.5.3
seaborn == 0.12.2
scipy == 1.7.3
scikit-learn == 1.0.2
gspread == 5.11.3
google-colab - 1.0.0
pytz == 2023.3.post1
pandas  == 0.24.2
google-auth == 1.4.2
traitlets == 5.9.0
google-auth-oauthlib == 0.4.6
