absl-py
numpy  
matplotlib 
seaborn
scipy  
scikit-learn
gspread
google-colab
pytz >= 2011k  # https://stackoverflow.com/questions/18230956/could-not-find-a-version-that-satisfies-the-requirement-pytz
pandas 
google-auth
traitlets
# google-auth-oauthlib==0.4.6
